snippet cpp Clean CPP Template
	#include <bits/stdc++.h>
	using namespace std;
	#define WhySoSerious ios::sync_with_stdio(false); cin.tie(NULL);


	int32_t main() {
		WhySoSerious

		$1

		return 0;
	}
